<div class="item">
	<div>
		<a href="#">张三</a>
		<span>录入新习题</span>
		<span class="time" style="margin-left: 20px;"><time title="">三分钟前</time></span>
	</div>
	<div>
	<!-- TODO：放置用户头像 
	<a href="#"><img src="a"/></a>
	-->
		
		<div>
			<div class="exercise">
				<div class="content">习题</div>
				<div class="option">选项</div>
			</div>
			<div style="float: right">
				<a href="#">关注(100)</a>
				<i style="margin-left:6px;margin-right:8px; color:#AEAEAE">|</i>
				<a href="#">收藏(100)</a>
			<i style="margin-left:6px;margin-right:8px; color:#AEAEAE">|</i>
				<a href="#">解答(100)</a>
			</div>
		</div>
	</div>
</div>	