@CHARSET "UTF-8";

a:link {
	color: black;
}

a:visited {
	color: black;
}

a:hover {
	color: green;
}

a:active {
	color: green;
}

#header {
	background: #ededed;
	position: fixed;
	width: 100%;
	top: 0;
	font-size: 13px;
	box-shadow: 0 2px 2px #999;
	height: 35px;
}

.wrapper {
	width: 920px;
	margin: 0 auto;
}

.top-nav {
	float: right;
	line-height: 35px;
}

.top-logo {
	float: left;
	line-height: 35px;
	font-size: 20px;
	font-weight: bold;
}

.top-logo a {
	color: green;
	text-decoration: none;
}

.top-toolbar {
	float : left;
	line-height: 35px;
	margin-left: 20px;
}

.login-pane {
	float: right;
	border: 1px solid #DDD;
	border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 2px 2px 3px #999;
}