@CHARSET "UTF-8";

.drip_layer {
    z-index: 1;
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* setting pointer-events: auto; on node under the mouse, which changes
        during scroll, will break mouse wheel scrolling in Safari */
    pointer-events: none;
    
    /*FIXME：寻求更灵活的获取光标默认高度的方法*/
    line-height: 15px;
}

.drip_cursor-layer {
    z-index: 4;
}

.drip_cursor {
    z-index: 4;
    position: absolute;
    border-left: 2px solid black;
    line-height: 15px;
    height: 15px;
}

.drip_contentAssist{
	min-width: 200px;
	font-size: 15px;
	background-color: white;
}

.drip_contentAssist div{
	padding-left: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.drip_cursor.drip_hidden {
    opacity: 0.2;
}

.ace_editor.multiselect .ace_cursor {
    border-left-width: 1px;
}

.drip_line{
	min-height: 15px;
}


/***********************math icon*************************/
.drip_equation_icon{
	/*这些图片来自google doc， 如果不允许使用，则立即替换.
		这些图片的质量也不是很好，后面更新。
	*/
	background-image: url("images/ee-palettes.gif");
}

.drip_frac{
	width: 30px;
	height: 45px;
	background-position: -150px -90px;
}

.drip_multiplication{
	width: 18px;
	height: 18px;
	background-position: 0px -50px;
}

.drip_division{
	width: 18px;
	height: 18px;
	background-position: -18px -50px;
	
}