<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
		id="com.zizibujuan.drip.application"
	    point="org.eclipse.core.runtime.applications">
      	<application
            cardinality="1"
            thread="any"
            visible="true">
         <run
               class="com.zizibujuan.drip.server.configurator.WebApplication">
         </run>
      	</application>
	</extension>
	<extension id="com.zizibujuan.drip.product" point="org.eclipse.core.runtime.products"> 
      <product name="Drip" application="org.eclipse.orion.application" description="baosuzhai"> 
          <property name="appName" value="Drip"/> 
          <!--<property name="preferenceCustomization" value="plugin_customization.ini"/>-->
      </product> 
    </extension> 

	<extension
         point="org.eclipse.equinox.http.registry.httpcontexts">
         <httpcontext
            id="com.zizibujuan.drip.server.configurator.httpcontext.drip">
	         <resource-mapping
	               bundle="com.zizibujuan.drip.client.core"
	               path="/web">
	         </resource-mapping>
	         <resource-mapping
	               bundle="com.zizibujuan.drip.client.dojo"
	               path="/static">
	         </resource-mapping>
         </httpcontext>
    </extension>
	<extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/"
            httpcontextId="com.zizibujuan.drip.server.configurator.httpcontext.drip">
      </resource>
     </extension>
 
</plugin>
